<div class="content-wrapper" id="main_content">
  <!-- Content Header (Page header) -->
  <!-- title row -->
  <div class="row">
    <div class="col-sm-3">
      <!-- PRODUCT LIST -->
      <div class="box">
        <div class="box-header">
          <div class="row">
            <div class="col-md-3 padding-right-zero">
              1-10 of 221
            </div>
            <div class="col-md-6">
              <input type="search" class="form-control input-sm" placeholder="Search...">
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-danger">
                <i class="glyphicon glyphicon-sort"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <ul class="products-list product-list-in-box">
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-success"><i class="glyphicon glyphicon-ok"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-primary pull-right">40%</span>
                <span class="color-grey">
                          SG Reims
                        </span>
              </div>
            </li>
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-success"><i class="glyphicon glyphicon-ok"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-warning pull-right">60%</span>
                <span class="color-grey">
                          FNAC Paris
                        </span>
              </div>
            </li>
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-danger"><i class="glyphicon glyphicon-remove"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-danger pull-right">90%</span>
                <span class="color-grey">
                          Stade de Reims
                        </span>
              </div>
            </li>
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-success"><i class="glyphicon glyphicon-ok"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-success pull-right">10%</span>
                <span class="color-grey">
                          Cdiscount
                        </span>
              </div>
            </li>
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-danger"><i class="glyphicon glyphicon-remove"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-danger pull-right">85%</span>
                <span class="color-grey">
                          Auchan
                        </span>
              </div>
            </li>
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-danger"><i class="glyphicon glyphicon-remove"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-danger pull-right">95%</span>
                <span class="color-grey">
                          Café du coin
                        </span>
              </div>
            </li>
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-success"><i class="glyphicon glyphicon-ok"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-success pull-right">25%</span>
                <span class="color-grey">
                          SNCF
                        </span>
              </div>
            </li>
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-danger"><i class="glyphicon glyphicon-remove"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-danger pull-right">85%</span>
                <span class="color-grey">
                          Auchan
                        </span>
              </div>
            </li>
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-success"><i class="glyphicon glyphicon-ok"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-success pull-right">25%</span>
                <span class="color-grey">
                          Boulangerie
                        </span>
              </div>
            </li>
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-success"><i class="glyphicon glyphicon-ok"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-success pull-right">25%</span>
                <span class="color-grey">
                          RATP
                        </span>
              </div>
            </li>
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-success"><i class="glyphicon glyphicon-ok"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-success pull-right">25%</span>
                <span class="color-grey">
                          Leclerc
                        </span>
              </div>
            </li>
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-success"><i class="glyphicon glyphicon-ok"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-success pull-right">25%</span>
                <span class="color-grey">
                          Decathlon
                        </span>
              </div>
            </li>
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-success"><i class="glyphicon glyphicon-ok"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-success pull-right">25%</span>
                <span class="color-grey">
                          Amazon
                        </span>
              </div>
            </li>
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-success"><i class="glyphicon glyphicon-ok"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-success pull-right">25%</span>
                <span class="color-grey">
                          LDLC
                        </span>
              </div>
            </li>
            <li class="item">
              <div class="product-img span-icon">
                <span class="label label-danger"><i class="glyphicon glyphicon-remove"></i></span>
              </div>
              <div class="product-info">
                <a routerLink="/dashboard">XXXX</a>
                <span class="label label-danger pull-right">90%</span>
                <span class="color-grey">
                          Retrait
                        </span>
              </div>
            </li>
          </ul>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
          <ul class="pagination">
            <li class="paginate_button previous disabled" id="example1_previous">
              <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
            </li>
            <li class="paginate_button next" id="example1_next">
              <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a>
            </li>
          </ul>
        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
    <div class="col-sm-9">
      <app-fraude-content></app-fraude-content>
    </div>
  </div>
  <!-- /.content -->
</div>
