<div class="wrapper">
   <!-- Main Header -->
  <app-starter-header></app-starter-header>
  <!-- Fraude Content -->
  <app-fraude-content></app-fraude-content>
  <!-- Main Footer -->
  <app-starter-footer></app-starter-footer>
  <!-- Control Sidebar -->
  <app-starter-control-sidebar></app-starter-control-sidebar>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
